@page "/Category"
@using ShoppingApp.Services

@inject ProductServices ProductService
@inject CartServices CartService
@inject CategoryServices CategoryService

<NavMenu cartCount="@CartService.Carts.Count()"></NavMenu>

@*End of nav*@
<div class="main container">
    <div class="content px-4">

        <div class="main">
            <div class="content px-4">

                @if (CategoryService.GetCategories() == null)
                {
                    <div class="row">
                        <h3 class="text-secondary text-center">Nothing in categories</h3>
                    </div>
                }
                else
                {
                    <div class="categories">
                        <div class="row">
                            @foreach (var category in CategoryService.GetCategories())
                            {
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-header text-center text-uppercase font-weight-bolder">
                                            @category.Name
                                        </div>
                                        <div class="card-body">
                                            <div class="text-center">
                                                <img src='@category.ImagePath' title='@category.Name' class="card-img" alt='@category.Name' />
                                            </div>
                                            <div class="text-center">@category.Description</div>
                                        </div>
                                        <div class="card-footer text-center desc-view-btn">
                                            <a class="btn btn-success" href="/Product/@category.categoryId">View</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>